.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox___61DxT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 15px 0px;
}
.logo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 50px;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
  display: none;
}
.link___5ThRh {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.freeBox__bsSy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 8px;
  border: 5px solid #e4e4da;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bsSy {
    padding-right: 8px;
    margin-bottom: 30px;
  }
}
.freeBox__hdBte {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  max-width: 100%;
  margin-right: 30px;
  align-self: auto;
  width: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hdBte {
    width: auto;
    height: auto;
  }
}
.freeBox__qqIc2 {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qqIc2 {
    display: flex;
  }
}
.img__miLiz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 425px;
}
.img__miLiz > picture > img {
  object-fit: cover;
}
.img__miLiz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__miLiz {
    height: 100%;
    max-height: none;
    min-height: 0;
  }
}
.freeBox__maolz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  width: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__maolz {
    padding: 8px;
  }
}
.text__qSkHq {
  position: relative;
  color: #f62929;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qSkHq {
    padding-top: 0px;
    font-size: 20px;
  }
}
.text__pKcC {
  position: relative;
  color: #202428;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pKcC {
    font-size: 18px;
  }
}
.text__hrDf1 {
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 18px;
  padding-left: 0px;
  padding-bottom: 18px;
  width: 500px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hrDf1 {
    padding-bottom: 6px;
    padding-top: 18px;
    margin-bottom: 25px;
    width: auto;
  }
}
.link__moRwd {
  position: relative;
  background: #f35500;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  width: 275px;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__moRwd {
    font-size: 15px;
  }
}
.freeBox___6PcNx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__mvyqR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mvyqR {
    width: 392px;
  }
}
.freeBox__sbKpT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sbKpT {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 16px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox__oNghn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oNghn {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 16px;
  }
}
.freeBox__tbHra {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tbHra {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 16px;
  }
}
.freeBox__toRCv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 16px;
  }
}
.products {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.columns__pyuZv {
  --plsmc-rc-col-gap: 0px;
}
.columns__pyuZv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__pyuZv > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__pyuZv > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__pyuZv > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pyuZv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pyuZv > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aaYW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aaYW {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1___5XWaS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___7Qjpq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img___7Qjpq > picture > img {
  object-fit: cover;
}
.img___7Qjpq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__s2J6C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__s2J6C > picture > img {
  object-fit: cover;
}
.img__s2J6C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___7S2WP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___7S2WP > picture > img {
  object-fit: cover;
}
.img___7S2WP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__yfUR:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__nDvgu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__gE7C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gE7C {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1___2Gt8M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xYzop {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__xYzop > picture > img {
  object-fit: cover;
}
.img__xYzop > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__g5Kv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__g5Kv > picture > img {
  object-fit: cover;
}
.img__g5Kv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__sepdR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__sepdR > picture > img {
  object-fit: cover;
}
.img__sepdR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___1GHtS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__os3X7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__bcTX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bcTX {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__iGyCq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___2AsgP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img___2AsgP > picture > img {
  object-fit: cover;
}
.img___2AsgP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___4Uzsw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___4Uzsw > picture > img {
  object-fit: cover;
}
.img___4Uzsw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__kjvEi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__kjvEi > picture > img {
  object-fit: cover;
}
.img__kjvEi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__qnh3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__iEzMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns__nbFv {
  --plsmc-rc-col-gap: 0px;
}
.columns__nbFv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__nbFv > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nbFv > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nbFv > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nbFv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nbFv > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qt9Vi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qt9Vi {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__ebEix:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__pN2S0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__pN2S0 > picture > img {
  object-fit: cover;
}
.img__pN2S0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jTCzP {
  padding-right: 0px;
}
.text__ykJD {
  padding-right: 0px;
}
.img__t6Rp6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__t6Rp6 > picture > img {
  object-fit: cover;
}
.img__t6Rp6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__i8AxK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__i8AxK > picture > img {
  object-fit: cover;
}
.img__i8AxK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__iWfw:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text___7GAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__ziix9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ziix9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__mTfqO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dn7VF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__dn7VF > picture > img {
  object-fit: cover;
}
.img__dn7VF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pQcxQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__pQcxQ > picture > img {
  object-fit: cover;
}
.img__pQcxQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___5RPcR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___5RPcR > picture > img {
  object-fit: cover;
}
.img___5RPcR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__wNdkA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__tbCSl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__kxDf {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kxDf {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__sxcH9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__sqzR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__sqzR > picture > img {
  object-fit: cover;
}
.img__sqzR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__uZ74 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__uZ74 > picture > img {
  object-fit: cover;
}
.img__uZ74 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rPmUf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__rPmUf > picture > img {
  object-fit: cover;
}
.img__rPmUf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___6RP9E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__jpCgk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
