@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&family=Nunito%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-M3Ak93voSHCS: 1px;
  --plasmic-token-unnamed-style-token: var(--token-M3Ak93voSHCS);
  --token-H751d37BdKP9: var(--token-JbyiWRP9OXXM);
  --plasmic-token-unnamed-style-token-2: var(--token-H751d37BdKP9);
  --token-JbyiWRP9OXXM: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-JbyiWRP9OXXM);
  --token-I6x7Er9c3kHp: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-I6x7Er9c3kHp);
  --token-7LzuyU_DKSlD: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-7LzuyU_DKSlD);
  --token-wpX0MaAauRiR: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-wpX0MaAauRiR);
  --token-jtrSBYrMz3Ej: var(--token-w3y_W8bnoNQV);
  --plasmic-token-unnamed-style-token-7: var(--token-jtrSBYrMz3Ej);
  --token-w3y_W8bnoNQV: var(--token-_SwHAvOfty98);
  --plasmic-token-unnamed-style-token-8: var(--token-w3y_W8bnoNQV);
  --token-_SwHAvOfty98: var(--token-scarqTeuPt1d);
  --plasmic-token-unnamed-style-token-9: var(--token-_SwHAvOfty98);
  --token-scarqTeuPt1d: var(--token-ENsErewHQXxO);
  --plasmic-token-unnamed-style-token-10: var(--token-scarqTeuPt1d);
  --token-ENsErewHQXxO: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-ENsErewHQXxO);
  --token-BmHITQCZwNfB: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-BmHITQCZwNfB);
  --token-DpSS485Z5o1l: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-DpSS485Z5o1l);
  --token-ca007ddmqFfP: var(--token-REPVU50nelf0);
  --plasmic-token-background-color-1-f-7926: var(--token-ca007ddmqFfP);
  --token-REPVU50nelf0: #1f7926;
  --plasmic-token-1-f-7926: var(--token-REPVU50nelf0);
  --token-NwVIBAbmULNc: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-NwVIBAbmULNc);
  --token-hkMqiG0OEkd2: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-hkMqiG0OEkd2);
  --token-PhGO7mK3hDj2: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-PhGO7mK3hDj2);
  --token-8mnpjF0zZepD: var(--token-uo2rqTXYG6nd);
  --plasmic-token-unnamed-style-token-17: var(--token-8mnpjF0zZepD);
  --token-uo2rqTXYG6nd: #9dd3e1;
  --plasmic-token-unnamed-style-token-18: var(--token-uo2rqTXYG6nd);
  --token-03YZFm3bWkMQ: currentcolor;
  --plasmic-token-unnamed-style-token-19: var(--token-03YZFm3bWkMQ);
  --token-wmRRzEI7wF1l: var(--token-Ib5eGtampxm1);
  --plasmic-token-unnamed-style-token-20: var(--token-wmRRzEI7wF1l);
  --token-Ib5eGtampxm1: currentcolor;
  --plasmic-token-unnamed-style-token-21: var(--token-Ib5eGtampxm1);
  --token-Z5iIUTetGnbe: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-Z5iIUTetGnbe);
  --token-sBkVYPMIr59_: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-sBkVYPMIr59_);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-BmHITQCZwNfB: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-BmHITQCZwNfB);
    --token-DpSS485Z5o1l: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-DpSS485Z5o1l);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override) {
  --mixin-p05I1jDwjtlE_font-family: "Inter", sans-serif;
  --mixin-p05I1jDwjtlE_font-size: 16px;
  --mixin-p05I1jDwjtlE_font-weight: 400;
  --mixin-p05I1jDwjtlE_font-style: normal;
  --mixin-p05I1jDwjtlE_color: #535353;
  --mixin-p05I1jDwjtlE_text-align: left;
  --mixin-p05I1jDwjtlE_text-transform: none;
  --mixin-p05I1jDwjtlE_line-height: 1.5;
  --mixin-p05I1jDwjtlE_letter-spacing: normal;
  --mixin-p05I1jDwjtlE_white-space: pre-wrap;
  --mixin-p05I1jDwjtlE_user-select: text;
  --mixin-p05I1jDwjtlE_text-decoration-line: none;
  --mixin-p05I1jDwjtlE_text-overflow: clip;
  --mixin-21u2TAaK79JS_color: #000000;
  --mixin-21u2TAaK79JS_font-weight: 900;
  --mixin-21u2TAaK79JS_font-size: 72px;
  --mixin-21u2TAaK79JS_line-height: 1;
  --mixin-21u2TAaK79JS_letter-spacing: -4px;
  --mixin-21u2TAaK79JS_white-space: pre-wrap;
  --mixin-lLbTEEC0EGcW_color: #000000;
  --mixin-lLbTEEC0EGcW_font-size: 48px;
  --mixin-lLbTEEC0EGcW_font-weight: 700;
  --mixin-lLbTEEC0EGcW_letter-spacing: -1px;
  --mixin-lLbTEEC0EGcW_line-height: 1.1;
  --mixin-lLbTEEC0EGcW_white-space: pre-wrap;
  --mixin-bLio10tAbT0J_color: #0070f3;
  --mixin-bLio10tAbT0J_white-space: pre-wrap;
  --mixin-RF_HEKcYzzSE_color: #000000;
  --mixin-RF_HEKcYzzSE_font-size: 32px;
  --mixin-RF_HEKcYzzSE_font-weight: 600;
  --mixin-RF_HEKcYzzSE_letter-spacing: -0.8px;
  --mixin-RF_HEKcYzzSE_line-height: 1.2;
  --mixin-RF_HEKcYzzSE_white-space: pre-wrap;
  --mixin-tZ6QqYBxCNZp_color: #000000;
  --mixin-tZ6QqYBxCNZp_font-size: 24px;
  --mixin-tZ6QqYBxCNZp_font-weight: 600;
  --mixin-tZ6QqYBxCNZp_letter-spacing: -0.5px;
  --mixin-tZ6QqYBxCNZp_line-height: 1.3;
  --mixin-tZ6QqYBxCNZp_white-space: pre-wrap;
  --mixin-SUPGGD2L8CSX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-SUPGGD2L8CSX_border-bottom-color: #dddddd;
  --mixin-SUPGGD2L8CSX_border-bottom-style: solid;
  --mixin-SUPGGD2L8CSX_border-bottom-width: 1px;
  --mixin-SUPGGD2L8CSX_border-left-color: #dddddd;
  --mixin-SUPGGD2L8CSX_border-left-style: solid;
  --mixin-SUPGGD2L8CSX_border-left-width: 1px;
  --mixin-SUPGGD2L8CSX_border-right-color: #dddddd;
  --mixin-SUPGGD2L8CSX_border-right-style: solid;
  --mixin-SUPGGD2L8CSX_border-right-width: 1px;
  --mixin-SUPGGD2L8CSX_border-top-color: #dddddd;
  --mixin-SUPGGD2L8CSX_border-top-style: solid;
  --mixin-SUPGGD2L8CSX_border-top-width: 1px;
  --mixin-SUPGGD2L8CSX_border-bottom-left-radius: 3px;
  --mixin-SUPGGD2L8CSX_border-bottom-right-radius: 3px;
  --mixin-SUPGGD2L8CSX_border-top-left-radius: 3px;
  --mixin-SUPGGD2L8CSX_border-top-right-radius: 3px;
  --mixin-SUPGGD2L8CSX_font-family: "Inconsolata";
  --mixin-SUPGGD2L8CSX_padding-bottom: 1px;
  --mixin-SUPGGD2L8CSX_padding-left: 4px;
  --mixin-SUPGGD2L8CSX_padding-right: 4px;
  --mixin-SUPGGD2L8CSX_padding-top: 1px;
  --mixin-SUPGGD2L8CSX_white-space: pre-wrap;
  --mixin-I_5ewaT6xmTb_border-left-color: #dddddd;
  --mixin-I_5ewaT6xmTb_border-left-style: solid;
  --mixin-I_5ewaT6xmTb_border-left-width: 3px;
  --mixin-I_5ewaT6xmTb_color: #888888;
  --mixin-I_5ewaT6xmTb_padding-left: 10px;
  --mixin-I_5ewaT6xmTb_white-space: pre-wrap;
  --mixin-Lc5ZlKLJNL-v_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Lc5ZlKLJNL-v_border-bottom-color: #dddddd;
  --mixin-Lc5ZlKLJNL-v_border-bottom-style: solid;
  --mixin-Lc5ZlKLJNL-v_border-bottom-width: 1px;
  --mixin-Lc5ZlKLJNL-v_border-left-color: #dddddd;
  --mixin-Lc5ZlKLJNL-v_border-left-style: solid;
  --mixin-Lc5ZlKLJNL-v_border-left-width: 1px;
  --mixin-Lc5ZlKLJNL-v_border-right-color: #dddddd;
  --mixin-Lc5ZlKLJNL-v_border-right-style: solid;
  --mixin-Lc5ZlKLJNL-v_border-right-width: 1px;
  --mixin-Lc5ZlKLJNL-v_border-top-color: #dddddd;
  --mixin-Lc5ZlKLJNL-v_border-top-style: solid;
  --mixin-Lc5ZlKLJNL-v_border-top-width: 1px;
  --mixin-Lc5ZlKLJNL-v_border-bottom-left-radius: 3px;
  --mixin-Lc5ZlKLJNL-v_border-bottom-right-radius: 3px;
  --mixin-Lc5ZlKLJNL-v_border-top-left-radius: 3px;
  --mixin-Lc5ZlKLJNL-v_border-top-right-radius: 3px;
  --mixin-Lc5ZlKLJNL-v_font-family: "Inconsolata";
  --mixin-Lc5ZlKLJNL-v_padding-bottom: 3px;
  --mixin-Lc5ZlKLJNL-v_padding-left: 6px;
  --mixin-Lc5ZlKLJNL-v_padding-right: 6px;
  --mixin-Lc5ZlKLJNL-v_padding-top: 3px;
  --mixin-Lc5ZlKLJNL-v_white-space: pre-wrap;
  --mixin-kVD-8R8ucbqW_display: flex;
  --mixin-kVD-8R8ucbqW_flex-direction: column;
  --mixin-kVD-8R8ucbqW_align-items: stretch;
  --mixin-kVD-8R8ucbqW_justify-content: flex-start;
  --mixin-kVD-8R8ucbqW_list-style-position: outside;
  --mixin-kVD-8R8ucbqW_padding-left: 40px;
  --mixin-kVD-8R8ucbqW_position: relative;
  --mixin-kVD-8R8ucbqW_list-style-type: disc;
  --mixin-kVD-8R8ucbqW_white-space: pre-wrap;
  --mixin-9ZTwMHnHJ1Ry_display: flex;
  --mixin-9ZTwMHnHJ1Ry_flex-direction: column;
  --mixin-9ZTwMHnHJ1Ry_align-items: stretch;
  --mixin-9ZTwMHnHJ1Ry_justify-content: flex-start;
  --mixin-9ZTwMHnHJ1Ry_list-style-position: outside;
  --mixin-9ZTwMHnHJ1Ry_padding-left: 40px;
  --mixin-9ZTwMHnHJ1Ry_position: relative;
  --mixin-9ZTwMHnHJ1Ry_list-style-type: decimal;
  --mixin-9ZTwMHnHJ1Ry_white-space: pre-wrap;
  --mixin-srV8xG03C7FZ_color: #000000;
  --mixin-srV8xG03C7FZ_font-size: 20px;
  --mixin-srV8xG03C7FZ_font-weight: 600;
  --mixin-srV8xG03C7FZ_letter-spacing: -0.3px;
  --mixin-srV8xG03C7FZ_line-height: 1.5;
  --mixin-srV8xG03C7FZ_white-space: pre-wrap;
  --mixin-4eUNV0HqLoKP_color: #000000;
  --mixin-4eUNV0HqLoKP_font-size: 16px;
  --mixin-4eUNV0HqLoKP_font-weight: 600;
  --mixin-4eUNV0HqLoKP_line-height: 1.5;
  --mixin-4eUNV0HqLoKP_white-space: pre-wrap;
  --mixin-e-h4Beb3D3L7_color: #3291ff;
  --mixin-e-h4Beb3D3L7_white-space: pre-wrap;
  --mixin-W8zF-yfVpHHN_white-space: pre-wrap;
  --mixin-P0l0RXC5NopZ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-p05I1jDwjtlE_font-family);
  font-size: var(--mixin-p05I1jDwjtlE_font-size);
  font-weight: var(--mixin-p05I1jDwjtlE_font-weight);
  font-style: var(--mixin-p05I1jDwjtlE_font-style);
  color: var(--mixin-p05I1jDwjtlE_color);
  text-align: var(--mixin-p05I1jDwjtlE_text-align);
  text-transform: var(--mixin-p05I1jDwjtlE_text-transform);
  line-height: var(--mixin-p05I1jDwjtlE_line-height);
  letter-spacing: var(--mixin-p05I1jDwjtlE_letter-spacing);
  white-space: var(--mixin-p05I1jDwjtlE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-21u2TAaK79JS_color);
  font-weight: var(--mixin-21u2TAaK79JS_font-weight);
  font-size: var(--mixin-21u2TAaK79JS_font-size);
  line-height: var(--mixin-21u2TAaK79JS_line-height);
  letter-spacing: var(--mixin-21u2TAaK79JS_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-lLbTEEC0EGcW_color);
  font-size: var(--mixin-lLbTEEC0EGcW_font-size);
  font-weight: var(--mixin-lLbTEEC0EGcW_font-weight);
  letter-spacing: var(--mixin-lLbTEEC0EGcW_letter-spacing);
  line-height: var(--mixin-lLbTEEC0EGcW_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bLio10tAbT0J_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-RF_HEKcYzzSE_color);
  font-size: var(--mixin-RF_HEKcYzzSE_font-size);
  font-weight: var(--mixin-RF_HEKcYzzSE_font-weight);
  letter-spacing: var(--mixin-RF_HEKcYzzSE_letter-spacing);
  line-height: var(--mixin-RF_HEKcYzzSE_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-tZ6QqYBxCNZp_color);
  font-size: var(--mixin-tZ6QqYBxCNZp_font-size);
  font-weight: var(--mixin-tZ6QqYBxCNZp_font-weight);
  letter-spacing: var(--mixin-tZ6QqYBxCNZp_letter-spacing);
  line-height: var(--mixin-tZ6QqYBxCNZp_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-SUPGGD2L8CSX_font-family);
  border-radius: var(--mixin-SUPGGD2L8CSX_border-top-left-radius)
    var(--mixin-SUPGGD2L8CSX_border-top-right-radius)
    var(--mixin-SUPGGD2L8CSX_border-bottom-right-radius)
    var(--mixin-SUPGGD2L8CSX_border-bottom-left-radius);
  padding: var(--mixin-SUPGGD2L8CSX_padding-top)
    var(--mixin-SUPGGD2L8CSX_padding-right)
    var(--mixin-SUPGGD2L8CSX_padding-bottom)
    var(--mixin-SUPGGD2L8CSX_padding-left);
  border-top: var(--mixin-SUPGGD2L8CSX_border-top-width)
    var(--mixin-SUPGGD2L8CSX_border-top-style)
    var(--mixin-SUPGGD2L8CSX_border-top-color);
  border-right: var(--mixin-SUPGGD2L8CSX_border-right-width)
    var(--mixin-SUPGGD2L8CSX_border-right-style)
    var(--mixin-SUPGGD2L8CSX_border-right-color);
  border-bottom: var(--mixin-SUPGGD2L8CSX_border-bottom-width)
    var(--mixin-SUPGGD2L8CSX_border-bottom-style)
    var(--mixin-SUPGGD2L8CSX_border-bottom-color);
  border-left: var(--mixin-SUPGGD2L8CSX_border-left-width)
    var(--mixin-SUPGGD2L8CSX_border-left-style)
    var(--mixin-SUPGGD2L8CSX_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-I_5ewaT6xmTb_color);
  padding-left: var(--mixin-I_5ewaT6xmTb_padding-left);
  border-left: var(--mixin-I_5ewaT6xmTb_border-left-width)
    var(--mixin-I_5ewaT6xmTb_border-left-style)
    var(--mixin-I_5ewaT6xmTb_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Lc5ZlKLJNL-v_font-family);
  border-radius: var(--mixin-Lc5ZlKLJNL-v_border-top-left-radius)
    var(--mixin-Lc5ZlKLJNL-v_border-top-right-radius)
    var(--mixin-Lc5ZlKLJNL-v_border-bottom-right-radius)
    var(--mixin-Lc5ZlKLJNL-v_border-bottom-left-radius);
  padding: var(--mixin-Lc5ZlKLJNL-v_padding-top)
    var(--mixin-Lc5ZlKLJNL-v_padding-right)
    var(--mixin-Lc5ZlKLJNL-v_padding-bottom)
    var(--mixin-Lc5ZlKLJNL-v_padding-left);
  border-top: var(--mixin-Lc5ZlKLJNL-v_border-top-width)
    var(--mixin-Lc5ZlKLJNL-v_border-top-style)
    var(--mixin-Lc5ZlKLJNL-v_border-top-color);
  border-right: var(--mixin-Lc5ZlKLJNL-v_border-right-width)
    var(--mixin-Lc5ZlKLJNL-v_border-right-style)
    var(--mixin-Lc5ZlKLJNL-v_border-right-color);
  border-bottom: var(--mixin-Lc5ZlKLJNL-v_border-bottom-width)
    var(--mixin-Lc5ZlKLJNL-v_border-bottom-style)
    var(--mixin-Lc5ZlKLJNL-v_border-bottom-color);
  border-left: var(--mixin-Lc5ZlKLJNL-v_border-left-width)
    var(--mixin-Lc5ZlKLJNL-v_border-left-style)
    var(--mixin-Lc5ZlKLJNL-v_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-kVD-8R8ucbqW_display);
  flex-direction: var(--mixin-kVD-8R8ucbqW_flex-direction);
  align-items: var(--mixin-kVD-8R8ucbqW_align-items);
  justify-content: var(--mixin-kVD-8R8ucbqW_justify-content);
  list-style-position: var(--mixin-kVD-8R8ucbqW_list-style-position);
  padding-left: var(--mixin-kVD-8R8ucbqW_padding-left);
  position: var(--mixin-kVD-8R8ucbqW_position);
  list-style-type: var(--mixin-kVD-8R8ucbqW_list-style-type);
  flex-column-gap: var(--mixin-kVD-8R8ucbqW_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-9ZTwMHnHJ1Ry_display);
  flex-direction: var(--mixin-9ZTwMHnHJ1Ry_flex-direction);
  align-items: var(--mixin-9ZTwMHnHJ1Ry_align-items);
  justify-content: var(--mixin-9ZTwMHnHJ1Ry_justify-content);
  list-style-position: var(--mixin-9ZTwMHnHJ1Ry_list-style-position);
  padding-left: var(--mixin-9ZTwMHnHJ1Ry_padding-left);
  position: var(--mixin-9ZTwMHnHJ1Ry_position);
  list-style-type: var(--mixin-9ZTwMHnHJ1Ry_list-style-type);
  flex-column-gap: var(--mixin-9ZTwMHnHJ1Ry_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-srV8xG03C7FZ_color);
  font-size: var(--mixin-srV8xG03C7FZ_font-size);
  font-weight: var(--mixin-srV8xG03C7FZ_font-weight);
  letter-spacing: var(--mixin-srV8xG03C7FZ_letter-spacing);
  line-height: var(--mixin-srV8xG03C7FZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-4eUNV0HqLoKP_color);
  font-size: var(--mixin-4eUNV0HqLoKP_font-size);
  font-weight: var(--mixin-4eUNV0HqLoKP_font-weight);
  line-height: var(--mixin-4eUNV0HqLoKP_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-e-h4Beb3D3L7_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
