@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-dhUcJka2JRoXjaq: 1px;
  --plasmic-token-unnamed-style-token: var(--token-dhUcJka2JRoXjaq);
  --token-J8Hqay9ljkoQNUL: var(--token-A5gh4AGuOkzZ4ci);
  --plasmic-token-unnamed-style-token-2: var(--token-J8Hqay9ljkoQNUL);
  --token-A5gh4AGuOkzZ4ci: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-A5gh4AGuOkzZ4ci);
  --token-rLl-7r9DRiDOuqf: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-rLl-7r9DRiDOuqf);
  --token-ozoRl2byUecysNc: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-ozoRl2byUecysNc);
  --token-Pf3PbxLmDYARmQv: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-Pf3PbxLmDYARmQv);
  --token-RFGMmm1S53IRVVK: var(--token-3Bpv_6QTBHq3uHa);
  --plasmic-token-unnamed-style-token-7: var(--token-RFGMmm1S53IRVVK);
  --token-3Bpv_6QTBHq3uHa: var(--token-u8RplPlLlRv6o1T);
  --plasmic-token-unnamed-style-token-8: var(--token-3Bpv_6QTBHq3uHa);
  --token-u8RplPlLlRv6o1T: var(--token-9J8tiBeHTpsbyik);
  --plasmic-token-unnamed-style-token-9: var(--token-u8RplPlLlRv6o1T);
  --token-9J8tiBeHTpsbyik: var(--token-mqdsbrD25eCdbo0);
  --plasmic-token-unnamed-style-token-10: var(--token-9J8tiBeHTpsbyik);
  --token-mqdsbrD25eCdbo0: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-mqdsbrD25eCdbo0);
  --token-HCT7LScMxGQRF62: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-HCT7LScMxGQRF62);
  --token-TbPJ3MXeBCXJdAA: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-TbPJ3MXeBCXJdAA);
  --token-n87ov_uvpjNVLJz: var(--token-mobeb_uQU5r82rw);
  --plasmic-token-background-color-1-f-7926: var(--token-n87ov_uvpjNVLJz);
  --token-mobeb_uQU5r82rw: #1f7926;
  --plasmic-token-1-f-7926: var(--token-mobeb_uQU5r82rw);
  --token-yERLIJVzNvL6zR9: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-yERLIJVzNvL6zR9);
  --token-MHKxLkhrKM9RhFI: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-MHKxLkhrKM9RhFI);
  --token-6gv7hEflbDRC_2S: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-6gv7hEflbDRC_2S);
  --token-Y7Q4luge-63eJvq: #9dd3e1;
  --plasmic-token-unnamed-style-token-17: var(--token-Y7Q4luge-63eJvq);
  --token-RvzpFiAT0DbuLe5: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-RvzpFiAT0DbuLe5);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-HCT7LScMxGQRF62: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-HCT7LScMxGQRF62);
    --token-TbPJ3MXeBCXJdAA: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-TbPJ3MXeBCXJdAA);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-a_SsI98O_CDiRD7_font-family: "Inter", sans-serif;
  --mixin-a_SsI98O_CDiRD7_font-size: 16px;
  --mixin-a_SsI98O_CDiRD7_font-weight: 400;
  --mixin-a_SsI98O_CDiRD7_font-style: normal;
  --mixin-a_SsI98O_CDiRD7_color: #535353;
  --mixin-a_SsI98O_CDiRD7_text-align: left;
  --mixin-a_SsI98O_CDiRD7_text-transform: none;
  --mixin-a_SsI98O_CDiRD7_line-height: 1.5;
  --mixin-a_SsI98O_CDiRD7_letter-spacing: normal;
  --mixin-a_SsI98O_CDiRD7_white-space: pre-wrap;
  --mixin-a_SsI98O_CDiRD7_user-select: text;
  --mixin-a_SsI98O_CDiRD7_text-decoration-line: none;
  --mixin-a_SsI98O_CDiRD7_text-overflow: clip;
  --mixin-XjmzH1DESTIxT9y_color: #000000;
  --mixin-XjmzH1DESTIxT9y_font-weight: 900;
  --mixin-XjmzH1DESTIxT9y_font-size: 72px;
  --mixin-XjmzH1DESTIxT9y_line-height: 1;
  --mixin-XjmzH1DESTIxT9y_letter-spacing: -4px;
  --mixin-XjmzH1DESTIxT9y_white-space: pre-wrap;
  --mixin-LaYx7r3fV7kcoTp_color: #000000;
  --mixin-LaYx7r3fV7kcoTp_font-size: 48px;
  --mixin-LaYx7r3fV7kcoTp_font-weight: 700;
  --mixin-LaYx7r3fV7kcoTp_letter-spacing: -1px;
  --mixin-LaYx7r3fV7kcoTp_line-height: 1.1;
  --mixin-LaYx7r3fV7kcoTp_white-space: pre-wrap;
  --mixin-eZX86zLm9t15Gne_color: #0070f3;
  --mixin-eZX86zLm9t15Gne_white-space: pre-wrap;
  --mixin-Bn9Ai-yy2PSuHRm_color: #000000;
  --mixin-Bn9Ai-yy2PSuHRm_font-size: 32px;
  --mixin-Bn9Ai-yy2PSuHRm_font-weight: 600;
  --mixin-Bn9Ai-yy2PSuHRm_letter-spacing: -0.8px;
  --mixin-Bn9Ai-yy2PSuHRm_line-height: 1.2;
  --mixin-Bn9Ai-yy2PSuHRm_white-space: pre-wrap;
  --mixin-m9nxgd5YR9oD4e__color: #000000;
  --mixin-m9nxgd5YR9oD4e__font-size: 24px;
  --mixin-m9nxgd5YR9oD4e__font-weight: 600;
  --mixin-m9nxgd5YR9oD4e__letter-spacing: -0.5px;
  --mixin-m9nxgd5YR9oD4e__line-height: 1.3;
  --mixin-m9nxgd5YR9oD4e__white-space: pre-wrap;
  --mixin-dX_IxlPLSVgMJ_W_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dX_IxlPLSVgMJ_W_border-bottom-color: #dddddd;
  --mixin-dX_IxlPLSVgMJ_W_border-bottom-style: solid;
  --mixin-dX_IxlPLSVgMJ_W_border-bottom-width: 1px;
  --mixin-dX_IxlPLSVgMJ_W_border-left-color: #dddddd;
  --mixin-dX_IxlPLSVgMJ_W_border-left-style: solid;
  --mixin-dX_IxlPLSVgMJ_W_border-left-width: 1px;
  --mixin-dX_IxlPLSVgMJ_W_border-right-color: #dddddd;
  --mixin-dX_IxlPLSVgMJ_W_border-right-style: solid;
  --mixin-dX_IxlPLSVgMJ_W_border-right-width: 1px;
  --mixin-dX_IxlPLSVgMJ_W_border-top-color: #dddddd;
  --mixin-dX_IxlPLSVgMJ_W_border-top-style: solid;
  --mixin-dX_IxlPLSVgMJ_W_border-top-width: 1px;
  --mixin-dX_IxlPLSVgMJ_W_border-bottom-left-radius: 3px;
  --mixin-dX_IxlPLSVgMJ_W_border-bottom-right-radius: 3px;
  --mixin-dX_IxlPLSVgMJ_W_border-top-left-radius: 3px;
  --mixin-dX_IxlPLSVgMJ_W_border-top-right-radius: 3px;
  --mixin-dX_IxlPLSVgMJ_W_font-family: "Inconsolata";
  --mixin-dX_IxlPLSVgMJ_W_padding-bottom: 1px;
  --mixin-dX_IxlPLSVgMJ_W_padding-left: 4px;
  --mixin-dX_IxlPLSVgMJ_W_padding-right: 4px;
  --mixin-dX_IxlPLSVgMJ_W_padding-top: 1px;
  --mixin-dX_IxlPLSVgMJ_W_white-space: pre-wrap;
  --mixin-mOstGVcOfDuDIxO_border-left-color: #dddddd;
  --mixin-mOstGVcOfDuDIxO_border-left-style: solid;
  --mixin-mOstGVcOfDuDIxO_border-left-width: 3px;
  --mixin-mOstGVcOfDuDIxO_color: #888888;
  --mixin-mOstGVcOfDuDIxO_padding-left: 10px;
  --mixin-mOstGVcOfDuDIxO_white-space: pre-wrap;
  --mixin-Zoz3yI6I8Z0tfGr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Zoz3yI6I8Z0tfGr_border-bottom-color: #dddddd;
  --mixin-Zoz3yI6I8Z0tfGr_border-bottom-style: solid;
  --mixin-Zoz3yI6I8Z0tfGr_border-bottom-width: 1px;
  --mixin-Zoz3yI6I8Z0tfGr_border-left-color: #dddddd;
  --mixin-Zoz3yI6I8Z0tfGr_border-left-style: solid;
  --mixin-Zoz3yI6I8Z0tfGr_border-left-width: 1px;
  --mixin-Zoz3yI6I8Z0tfGr_border-right-color: #dddddd;
  --mixin-Zoz3yI6I8Z0tfGr_border-right-style: solid;
  --mixin-Zoz3yI6I8Z0tfGr_border-right-width: 1px;
  --mixin-Zoz3yI6I8Z0tfGr_border-top-color: #dddddd;
  --mixin-Zoz3yI6I8Z0tfGr_border-top-style: solid;
  --mixin-Zoz3yI6I8Z0tfGr_border-top-width: 1px;
  --mixin-Zoz3yI6I8Z0tfGr_border-bottom-left-radius: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_border-bottom-right-radius: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_border-top-left-radius: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_border-top-right-radius: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_font-family: "Inconsolata";
  --mixin-Zoz3yI6I8Z0tfGr_padding-bottom: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_padding-left: 6px;
  --mixin-Zoz3yI6I8Z0tfGr_padding-right: 6px;
  --mixin-Zoz3yI6I8Z0tfGr_padding-top: 3px;
  --mixin-Zoz3yI6I8Z0tfGr_white-space: pre-wrap;
  --mixin-5rdAGxi7gJXk209_display: flex;
  --mixin-5rdAGxi7gJXk209_flex-direction: column;
  --mixin-5rdAGxi7gJXk209_align-items: stretch;
  --mixin-5rdAGxi7gJXk209_justify-content: flex-start;
  --mixin-5rdAGxi7gJXk209_list-style-position: outside;
  --mixin-5rdAGxi7gJXk209_padding-left: 40px;
  --mixin-5rdAGxi7gJXk209_position: relative;
  --mixin-5rdAGxi7gJXk209_list-style-type: disc;
  --mixin-5rdAGxi7gJXk209_white-space: pre-wrap;
  --mixin-G7wmi4fp9ltc_qO_display: flex;
  --mixin-G7wmi4fp9ltc_qO_flex-direction: column;
  --mixin-G7wmi4fp9ltc_qO_align-items: stretch;
  --mixin-G7wmi4fp9ltc_qO_justify-content: flex-start;
  --mixin-G7wmi4fp9ltc_qO_list-style-position: outside;
  --mixin-G7wmi4fp9ltc_qO_padding-left: 40px;
  --mixin-G7wmi4fp9ltc_qO_position: relative;
  --mixin-G7wmi4fp9ltc_qO_list-style-type: decimal;
  --mixin-G7wmi4fp9ltc_qO_white-space: pre-wrap;
  --mixin-c8L48nqZn45WvsC_color: #000000;
  --mixin-c8L48nqZn45WvsC_font-size: 20px;
  --mixin-c8L48nqZn45WvsC_font-weight: 600;
  --mixin-c8L48nqZn45WvsC_letter-spacing: -0.3px;
  --mixin-c8L48nqZn45WvsC_line-height: 1.5;
  --mixin-c8L48nqZn45WvsC_white-space: pre-wrap;
  --mixin-eFxqgzvPu8I1w4w_color: #000000;
  --mixin-eFxqgzvPu8I1w4w_font-size: 16px;
  --mixin-eFxqgzvPu8I1w4w_font-weight: 600;
  --mixin-eFxqgzvPu8I1w4w_line-height: 1.5;
  --mixin-eFxqgzvPu8I1w4w_white-space: pre-wrap;
  --mixin-qM6Y1z6xStzZx_e_color: #3291ff;
  --mixin-qM6Y1z6xStzZx_e_white-space: pre-wrap;
  --mixin-jhISMClBgclgifq_white-space: pre-wrap;
  --mixin-AVTYKD83IJyYhSM_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-a_SsI98O_CDiRD7_font-family);
  font-size: var(--mixin-a_SsI98O_CDiRD7_font-size);
  font-weight: var(--mixin-a_SsI98O_CDiRD7_font-weight);
  font-style: var(--mixin-a_SsI98O_CDiRD7_font-style);
  color: var(--mixin-a_SsI98O_CDiRD7_color);
  text-align: var(--mixin-a_SsI98O_CDiRD7_text-align);
  text-transform: var(--mixin-a_SsI98O_CDiRD7_text-transform);
  line-height: var(--mixin-a_SsI98O_CDiRD7_line-height);
  letter-spacing: var(--mixin-a_SsI98O_CDiRD7_letter-spacing);
  white-space: var(--mixin-a_SsI98O_CDiRD7_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-XjmzH1DESTIxT9y_color);
  font-weight: var(--mixin-XjmzH1DESTIxT9y_font-weight);
  font-size: var(--mixin-XjmzH1DESTIxT9y_font-size);
  line-height: var(--mixin-XjmzH1DESTIxT9y_line-height);
  letter-spacing: var(--mixin-XjmzH1DESTIxT9y_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-LaYx7r3fV7kcoTp_color);
  font-size: var(--mixin-LaYx7r3fV7kcoTp_font-size);
  font-weight: var(--mixin-LaYx7r3fV7kcoTp_font-weight);
  letter-spacing: var(--mixin-LaYx7r3fV7kcoTp_letter-spacing);
  line-height: var(--mixin-LaYx7r3fV7kcoTp_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-eZX86zLm9t15Gne_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Bn9Ai-yy2PSuHRm_color);
  font-size: var(--mixin-Bn9Ai-yy2PSuHRm_font-size);
  font-weight: var(--mixin-Bn9Ai-yy2PSuHRm_font-weight);
  letter-spacing: var(--mixin-Bn9Ai-yy2PSuHRm_letter-spacing);
  line-height: var(--mixin-Bn9Ai-yy2PSuHRm_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-m9nxgd5YR9oD4e__color);
  font-size: var(--mixin-m9nxgd5YR9oD4e__font-size);
  font-weight: var(--mixin-m9nxgd5YR9oD4e__font-weight);
  letter-spacing: var(--mixin-m9nxgd5YR9oD4e__letter-spacing);
  line-height: var(--mixin-m9nxgd5YR9oD4e__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-dX_IxlPLSVgMJ_W_font-family);
  border-radius: var(--mixin-dX_IxlPLSVgMJ_W_border-top-left-radius)
    var(--mixin-dX_IxlPLSVgMJ_W_border-top-right-radius)
    var(--mixin-dX_IxlPLSVgMJ_W_border-bottom-right-radius)
    var(--mixin-dX_IxlPLSVgMJ_W_border-bottom-left-radius);
  padding: var(--mixin-dX_IxlPLSVgMJ_W_padding-top)
    var(--mixin-dX_IxlPLSVgMJ_W_padding-right)
    var(--mixin-dX_IxlPLSVgMJ_W_padding-bottom)
    var(--mixin-dX_IxlPLSVgMJ_W_padding-left);
  border-top: var(--mixin-dX_IxlPLSVgMJ_W_border-top-width)
    var(--mixin-dX_IxlPLSVgMJ_W_border-top-style)
    var(--mixin-dX_IxlPLSVgMJ_W_border-top-color);
  border-right: var(--mixin-dX_IxlPLSVgMJ_W_border-right-width)
    var(--mixin-dX_IxlPLSVgMJ_W_border-right-style)
    var(--mixin-dX_IxlPLSVgMJ_W_border-right-color);
  border-bottom: var(--mixin-dX_IxlPLSVgMJ_W_border-bottom-width)
    var(--mixin-dX_IxlPLSVgMJ_W_border-bottom-style)
    var(--mixin-dX_IxlPLSVgMJ_W_border-bottom-color);
  border-left: var(--mixin-dX_IxlPLSVgMJ_W_border-left-width)
    var(--mixin-dX_IxlPLSVgMJ_W_border-left-style)
    var(--mixin-dX_IxlPLSVgMJ_W_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-mOstGVcOfDuDIxO_color);
  padding-left: var(--mixin-mOstGVcOfDuDIxO_padding-left);
  border-left: var(--mixin-mOstGVcOfDuDIxO_border-left-width)
    var(--mixin-mOstGVcOfDuDIxO_border-left-style)
    var(--mixin-mOstGVcOfDuDIxO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Zoz3yI6I8Z0tfGr_font-family);
  border-radius: var(--mixin-Zoz3yI6I8Z0tfGr_border-top-left-radius)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-top-right-radius)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-bottom-right-radius)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-bottom-left-radius);
  padding: var(--mixin-Zoz3yI6I8Z0tfGr_padding-top)
    var(--mixin-Zoz3yI6I8Z0tfGr_padding-right)
    var(--mixin-Zoz3yI6I8Z0tfGr_padding-bottom)
    var(--mixin-Zoz3yI6I8Z0tfGr_padding-left);
  border-top: var(--mixin-Zoz3yI6I8Z0tfGr_border-top-width)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-top-style)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-top-color);
  border-right: var(--mixin-Zoz3yI6I8Z0tfGr_border-right-width)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-right-style)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-right-color);
  border-bottom: var(--mixin-Zoz3yI6I8Z0tfGr_border-bottom-width)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-bottom-style)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-bottom-color);
  border-left: var(--mixin-Zoz3yI6I8Z0tfGr_border-left-width)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-left-style)
    var(--mixin-Zoz3yI6I8Z0tfGr_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-5rdAGxi7gJXk209_display);
  flex-direction: var(--mixin-5rdAGxi7gJXk209_flex-direction);
  align-items: var(--mixin-5rdAGxi7gJXk209_align-items);
  justify-content: var(--mixin-5rdAGxi7gJXk209_justify-content);
  list-style-position: var(--mixin-5rdAGxi7gJXk209_list-style-position);
  padding-left: var(--mixin-5rdAGxi7gJXk209_padding-left);
  position: var(--mixin-5rdAGxi7gJXk209_position);
  list-style-type: var(--mixin-5rdAGxi7gJXk209_list-style-type);
  flex-column-gap: var(--mixin-5rdAGxi7gJXk209_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-G7wmi4fp9ltc_qO_display);
  flex-direction: var(--mixin-G7wmi4fp9ltc_qO_flex-direction);
  align-items: var(--mixin-G7wmi4fp9ltc_qO_align-items);
  justify-content: var(--mixin-G7wmi4fp9ltc_qO_justify-content);
  list-style-position: var(--mixin-G7wmi4fp9ltc_qO_list-style-position);
  padding-left: var(--mixin-G7wmi4fp9ltc_qO_padding-left);
  position: var(--mixin-G7wmi4fp9ltc_qO_position);
  list-style-type: var(--mixin-G7wmi4fp9ltc_qO_list-style-type);
  flex-column-gap: var(--mixin-G7wmi4fp9ltc_qO_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-c8L48nqZn45WvsC_color);
  font-size: var(--mixin-c8L48nqZn45WvsC_font-size);
  font-weight: var(--mixin-c8L48nqZn45WvsC_font-weight);
  letter-spacing: var(--mixin-c8L48nqZn45WvsC_letter-spacing);
  line-height: var(--mixin-c8L48nqZn45WvsC_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-eFxqgzvPu8I1w4w_color);
  font-size: var(--mixin-eFxqgzvPu8I1w4w_font-size);
  font-weight: var(--mixin-eFxqgzvPu8I1w4w_font-weight);
  line-height: var(--mixin-eFxqgzvPu8I1w4w_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-qM6Y1z6xStzZx_e_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
